.header {
  background: url("https://res.cloudinary.com/snackmanproductions/image/upload/v1570241543/consurgointl/tyler-casey-CkZF0-etxU8-unsplash_l7ukhz.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 90vh;
}
