.header {
  background: url("https://res.cloudinary.com/snackmanproductions/image/upload/v1570296503/consurgointl/ross-parmly-rf6ywHVkrlY-unsplash_olpoik.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 60vh;
  filter: grayscale(10%);
}
