@import "../../../sass/variables.scss";
.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 2px 2px darken(#fff, 20%);
}

.span {
  color: $brand-red;
}

.logo {
  max-height: 9rem;
}
@media screen and (max-width: 600px) {
  .main__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    box-shadow: 0 2px 2px darken(#fff, 30%);
  }

  .logo {
    max-height: 5rem;
    & img {
      max-height: 5rem;
    }
  }
}
