@import "../../../../sass/variables.scss";

.services {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  & .container {
    padding: 5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.services__header {
  background: url("https://res.cloudinary.com/snackmanproductions/image/upload/v1570296338/consurgointl/chuttersnap-kyCNGGKCvyw-unsplash_icq3fr.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  position: relative;
  filter: grayscale(30%);
  & h2 {
    color: #fff;
    font-size: 6rem;
    z-index: 1;
    & span {
      color: lighten($brand-red, 10%);
    }
  }
  & .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}

.container__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-content: center;
  gap: 4rem;
  margin: 2rem 0;
  max-width: 60vw;
  & .column {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem;
    & span {
      color: $brand-red;
    }
    & .subtext {
      font-size: 1.1rem;
    }
  }
  & .column:nth-child(1) {
    border-right: 1px solid #eee;
  }
}
