@import url("https://fonts.googleapis.com/css?family=Audiowide|Oswald|Merriweather|Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "Noto Sans";
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 0H0v36h36V0zM15.126 2H2v13.126c.367.094.714.24 1.032.428L15.554 3.032c-.188-.318-.334-.665-.428-1.032zM18 4.874V18H4.874c-.094-.367-.24-.714-.428-1.032L16.968 4.446c.318.188.665.334 1.032.428zM22.874 2h11.712L20 16.586V4.874c1.406-.362 2.512-1.468 2.874-2.874zm10.252 18H20v13.126c.367.094.714.24 1.032.428l12.522-12.522c-.188-.318-.334-.665-.428-1.032zM36 22.874V36H22.874c-.094-.367-.24-.714-.428-1.032l12.522-12.522c.318.188.665.334 1.032.428zm0-7.748V3.414L21.414 18h11.712c.362-1.406 1.468-2.512 2.874-2.874zm-18 18V21.414L3.414 36h11.712c.362-1.406 1.468-2.512 2.874-2.874zM4.874 20h11.712L2 34.586V22.874c1.406-.362 2.512-1.468 2.874-2.874z' fill='%23eeeeee' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E"); }

body {
  overflow-y: hidden; }

hr {
  border: 0;
  height: 2px;
  background: #058555; }

h1 {
  font-family: "Audiowide";
  font-size: 5rem;
  font-weight: 700; }

h2 {
  font-size: 4rem;
  font-family: "Oswald"; }

h3 {
  font-size: 3rem;
  font-family: "Oswald"; }

h4 {
  font-size: 2rem;
  font-family: "Oswald"; }

main {
  display: grid;
  grid-template-rows: auto; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

p {
  margin: 2rem 1rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #4d4d4d;
  line-height: 2;
  font-family: "Noto Sans"; }

hr {
  margin: 1rem 0;
  height: 0px;
  border-top: 2px solid #058555;
  width: 15rem; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.5rem; }
  p {
    margin: 2rem 0.5rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #4d4d4d;
    line-height: 1.5;
    font-family: "Noto Sans"; }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }
