@import url("https://fonts.googleapis.com/css?family=Oswald|Merriweather|Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "Merriweather"; }

body {
  overflow-y: hidden; }

h1 {
  font-family: "Oswald";
  font-size: 5rem;
  font-weight: 700; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem; }

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center; }

p {
  margin: 2rem 1rem;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #666;
  line-height: 2;
  font-family: "Noto Sans"; }

hr {
  margin: 1rem 0;
  height: 0px;
  border-top: 2px solid #7a2a2c;
  width: 15rem; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2.5rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.5rem; }
  p {
    margin: 2rem 0.5rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #666;
    line-height: 1.5;
    font-family: "Noto Sans"; } }
